* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #f2f2f2;
  --black: #212121;
  --indigo-dye: #084b83ff;
  --aero: #42bfddff;
  --mint-green: #bbe6e4ff;
  --antiflash-white: #f0f6f6ff;
}

/* MOBILE FIRST DESIGN */
@media (min-width: 769px) {
}
@media (min-width: 1366px) {
}
