/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* FONTS */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "karla", sans-serif;
  scroll-behavior: smooth;
}
/* RESET */

:root {
  --white: #f2f2f2;
  --black: #212121;
  --indigo-dye: #084b83;
  --aero: #42bfdd;
  --mint-green: #bbe6e4;
  --azure-mist: #e0f0f0;
}

/* MOBILE FIRST DESIGN */
body {
  background: rgb(242, 242, 242);
  background: linear-gradient(215deg, #f2f2f2 0%, #e0f0f0 51%, #bbe6e4 100%);
}
/* NAVBAR */
.navbar {
  position: fixed;
  z-index: 3;
  background: linear-gradient(135deg, var(--mint-green), var(--indigo-dye));
  box-shadow: 0rem 0.15rem 0.5rem var(--black);
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--indigo-dye);
  background: transparent;
  border: none;
  filter: drop-shadow(0rem 0.15rem 0.1rem var(--black));
  cursor: pointer;
}
.navbar-toggle img {
  width: 100%;
  height: auto;
}
.logo {
  filter: drop-shadow(-0.1rem 0.1rem 0.2rem var(--black));
  display: none;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 50%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.navbar-links.active {
  max-height: 18.75rem;
}
.navbar-links li {
  padding: 1rem 0;
}
.navbar-links a {
  color: var(--azure-mist);
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0.15rem 0.15rem 0.1rem var(--indigo-dye);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar-links a:hover {
  color: var(--aero);
}
/* NAVBAR CLOSED */

/* SLIDER */
h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
}
h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--white);
}
.description {
  padding-top: 5px;
}
.title-container {
  position: absolute;
  z-index: 1;
  width: 85%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1px 20px 16px 20px;
}
.title-span {
  color: var(--mint-green);
}
.slider {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  min-width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: transform 15s ease, opacity 1s ease;
  transition-delay: 650ms;
}
.item.active img {
  transform: scale(1.2); /* Zoom-in */
}
.dots {
  position: absolute;
  bottom: 10px;
  color: var(--white);
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}
.dots li.active {
  width: 30px;
}
/* SLIDER CLOSED */

/* INICIO reserve */
.reserve {
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
  background: white;
  text-align: center;
}
.reserve-title {
  color: var(--indigo-dye);
  padding: 0 10vw;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}
.reserve-subtitle-span {
  color: var(--indigo-dye);
}
.reserve-subtitle {
  color: var(--black);
  padding: 0 10vw;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20%;
}
.reserve-desc {
  color: var(--black);
  opacity: 0.5;
  padding: 0 10vw;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 40px;
  display: none;
}
.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 60px;
  padding: 0;
  scroll-snap-type: x mandatory;
}
.container {
  position: relative;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: calc(100%);
  height: 450px;
  margin: 0 20px;
  scroll-snap-align: start;
  margin-right: 20px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background: var(--mint-green);
  padding: 5px;
  border-radius: 5px;
  color: var(--indigo-dye);
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn {
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: var(--white);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: var(--indigo-dye);
  color: var(--white);
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-destination {
  color: var(--black);
  text-transform: uppercase;
}
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.price {
  color: var(--indigo-dye);
  font-weight: 900;
  font-size: 20px;
}
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 6vw;
  height: 100%;
  position: absolute;
  top: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  outline: none;
  z-index: 1;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btn {
  right: 0;
}
.pre-btn img,
.nxt-btn img {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
/* FIN reserve */

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 0;
}
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  top: 15%;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 5px;
}
.modal-header {
  display: flex;
  flex-direction: column;
}
.modal-header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product-vid {
  display: none;
}
.modal-vid {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
}
#modal-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.69rem;
}
.modal-form {
  margin: 0 1rem;
}
.modal-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-form form label {
  margin: 0;
}
.modal-form form input {
  margin-bottom: 0.5rem;
}
.modal-body {
  margin-top: 1rem;
}
.close {
  position: absolute;
  top: -0.6rem;
  right: 0.1rem;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}
#adults {
  width: 1rem;
  text-align: center;
}
.modal-body {
  text-align: center;
}
.reserve-btn {
  margin-top: 0.5rem;
  padding: 10px 20px;
  background-color: var(--indigo-dye);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.reserve-btn {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}
.reserve-btn.reserved {
  background-color: #28a745;
  color: white;
  border-radius: 3px;
}
/* FIN MODAL */

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(circle at center, var(--indigo-dye), var(--aero));
  color: var(--azure-mist);
  font-size: 0.7rem;
}
.container-footer {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.title-brand {
  font-size: 1rem;
  color: var(--mint-green);
  text-shadow: 0rem 0rem 0.3rem var(--aero);
}
.brand {
  display: flex;
  justify-content: center;
}
.brand img {
  height: 4rem;
}
.container-sections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.content-footer,
.contact-footer {
  width: 50%;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-footer {
  display: flex;
  justify-content: center;
}
.links-social-footer {
  color: var(--mint-green);
  font-size: 1.2rem;
  padding: 0.3125rem;
}
.website {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--mint-green);
}

small {
  padding: 1rem 0rem;
  animation: flicker 3s infinite alternate;
}
@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TABLET */
@media (min-width: 769px) {
  /* NAVBAR */
  .logo {
    display: block;
    height: 3.5rem;
    padding-left: 1rem;
  }

  .navbar {
    flex-direction: row;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    max-height: none;
    overflow: visible;
    transition: none;
  }
  .navbar.scrolled {
    background: var(--mint-green);
    opacity: 0.3;
    box-shadow: none;
  }
  .navbar.scrolled:hover {
    opacity: 1;
  }
  .navbar-links a {
    font-size: 1.5rem;
  }
  .navbar.scrolled .navbar-links a {
    color: var(--black);
    text-shadow: none;
  }
  .navbar.scrolled .navbar-links a:hover {
    color: var(--aero);
    border-radius: 1rem;
  }
  /* NAVBAR CLOSED */

  /* SLIDER */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 0.9rem;
  }

  .title-container {
    width: 65%;
  }
  .product-card {
    flex: 0 0 calc(33.33% - 30px); /* Ajusta el ancho para 3 tarjetas*/
  }
  .product-container {
    margin: 0 70px;
  }
  .reserve-subtitle {
    margin-bottom: 5%;
  }
  .reserve-title {
    margin-top: 10%;
  }
  .reserve-desc {
    display: block;
    margin-bottom: 5%;
  }
  .reserve {
    padding: 20px;
  }

  /* MODAL */
  .modal-content {
    top: 35%;
  }
  .modal-header {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 1rem;
  }
  .modal-vid {
    margin: 0;
  }
  #modal-description {
    font-size: 0.7rem;
  }
  .modal-form form label {
    font-size: 0.8rem;
    margin: 0 0;
  }
  .close {
    font-size: 1.6rem;
  }
  #adults {
    width: 2rem;
  }
  .reserve-btn {
    margin-top: 0.5rem;
    padding: 10px 50px;
  }
  footer,
  .website {
    font-size: 1.2rem;
  }
  .title-brand {
    font-size: 1.5rem;
  }
  .links-social-footer {
    font-size: 2rem;
  }
  .content-footer,
  .contact-footer {
    width: 30%;
  }
}

/* DESKTOP */
@media (min-width: 1366px) {
  /* RESERVE */
  .product-container {
    margin: 0 100px;
  }
  .product-card {
    flex: 0 0 calc(20% - 35px); /* Ajusta el ancho para que 5 tarjetas */
  }
  .reserve {
    text-align: left;
  }
  .reserve-title {
    margin-top: 5%;
  }
  .reserve-subtitle {
    margin-bottom: 3%;
  }
  .reserve-desc {
    display: block;
    margin-bottom: 3%;
  }

  /* MODAL */
  .modal-content {
    top: 25%;
  }
  .modal-header {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 1rem;
  }
  .modal-vid {
    margin: 0;
  }
  #modal-description {
    font-size: 0.9rem;
  }
  .modal-form form {
    flex-direction: row;
  }
  .modal-form form label {
    margin: 0 1rem;
  }
  .modal-form form input {
    margin-bottom: 0;
  }
  .close {
    font-size: 2rem;
  }
  #adults {
    width: 2rem;
  }
  .reserve-btn {
    margin-top: 1rem;
  }
}
